html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

header h1 {
    font-size: 2.5rem;
}

.navbar-nav .nav-item .nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.container {
    flex-grow: 1;
}

.content h2 {
    color: #1a73e8;
}

footer p {
    margin: 0;
}


